* {
  margin: 0;
  padding: 0;
  font-family: "gilroy", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav1 {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.golas {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}

#nav1-part1 {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}

#nav1-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-right: 50px;
}

#nav1-part2 h3 {
  font-size: 20px;
  font-weight: 200;
}

#nav1-part2 h3 span {
  color: rgb(193, 193, 193);
}

#nav2 {
  height: 100px;
  width: calc(100% - 40px);
  display: flex;
  padding-left: 40px;
  gap: 150px;
}

#nav2 h3 {
  text-transform: uppercase;
  font-weight: 400;
}

#content {
  height: calc(100% - 200px);
  width: 100%;
}

#content-part1 {
  height: 40%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

#content-part1::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}

#content-part1::-webkit-scrollbar-thumb {
  background-color: orangered;
}

#content-part2 {
  height: 60%;
  width: 100%;
}

.part1-elem {
  flex-shrink: 0;
  display: grid;
  /* border: 2px solid black; */
  height: 50%;
  width: 60%;
  grid-template-columns: 5% 95%;
  grid-template-rows: 30% 70%;
}

.elem-numbers {
  grid-row: 1 / 3;
  grid-column: 0 / 2;
  /* background-color: rgb(154, 223, 255); */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;

  font-size: 30px;
}

.elem-faded {
  /* background-color: pink; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  color: rgb(181, 180, 180);
}

.elem-main {
  /* background-color: teal; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 150px;
}

#content-part2 {
  height: 60%;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  /* background-color: teal; */
}

#content-part2::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
}
#content-part2::-webkit-scrollbar-thumb {
  background-color: orangered;
}

img {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 50%;
}
