* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 0.1px;
}

#nav {
  height: 8vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* gap: 19vw; */
  width: 100%;
  /* background-color: crimson; */
  margin-top: 6vh;
}

#nav h2 {
  /* background-color: red; */
  height: 100%;
  width: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid black;
  font-size: 2vw;
  letter-spacing: -0.05vw;
  padding-left: 8vw;
  font-family: monument;
}

#nav h3 {
  /* background-color: red; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 1.1vw;
  font-weight: 600;
}

#nav h3:nth-last-child(1) {
  justify-content: flex-start;
  width: 8%;
  padding-left: 3vw;
}

#center {
  /* background: red; */
  height: calc(100% - 14vh);
  padding: 3vh 5vw;
  position: relative;
}

#content {
  /* background-color: crimson; */
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  /* background-color: red; */
  padding: 4vw;
  padding-bottom: 1vw;
  background-color: rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(5px);
}

#over1 {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  padding: 0 2vw;
}

#over1 h1 {
  font-family: monument;
  font-size: 2.4vw;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

#over1 h2 {
  font-size: 1vw;
  /* background-color: black; */
  padding: 1.5vw;
  border-radius: 50%;
  border: 0.2vmax solid white;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

#over2 {
  height: 40%;
  width: 100%;
  /* background-color: red; */
  border-top: 0.2vmax solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 2vw;
}

#over2 h3 {
  font-size: 1vw;
  font-weight: 500;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

#over2 i {
  font-size: 2.5vw;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

#scroll {
  height: 20vh;
  width: 100%;
  position: relative;
  /* background-color: rebeccapurple; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  height: 100%;
  /* background-color: red; */
  width: 100%;
  padding: 1vh 1vw;
  display: inline-block;
  animation: anime 20s linear infinite;
}

.container img {
  height: 100%;
  width: 9%;
  margin: 0 4vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.container img:nth-child(1) {
  margin-left: 3vw;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#alphabets {
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}

#alphabets h5 {
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 500;
  border-bottom: 2px solid black;
}

.circlehover h6 {
  position: absolute;
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vw;
  font-style: italic;
  font-weight: 500;
}

#alphabets .circlehover {
  height: 1.75vmax;
  width: 1.75vmax;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all ease 0.2s;
}

#alphabets .circlehover:hover {
  border: 1px solid rgb(0, 0, 0);
  /* color: grey; */
}

#page2 {
  height: 100%;
  width: 100%;
  /* background-color: crimson; */
  padding: 8vh 4vw;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 60% 30% 10%;
}

#part1 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  /* background-color: rgb(95, 218, 255); */
  padding: 0 2vw;
}

#part1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 3%;
}

#part2 {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  /* background-color: rgb(255, 74, 74); */
  padding: 0 2vw;
  padding-bottom: 2vh;
}

#part2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 19%;
}

#part3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* background-color: rgb(255, 133, 133); */
  padding: 0 2vw;
  padding-top: 2vh;
}

#part3 h3 {
  font-size: 1.5vw;
  font-weight: 500;
}

#part4 {
  height: 100%;
  width: 100%;
  padding: 0 2vw;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  /* background-color: rgb(255, 187, 187); */
  padding-top: 2vh;
}

#part4 p {
  /* background-color: red; */
  font-size: 0.9vw;
  text-align: justify;
  font-weight: 300;
}

#part5 {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  /* background-color: rgb(255, 218, 218); */
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#part5 h1 {
  font-family: monument;
  font-size: 2.4vw;
  letter-spacing: 0.01vw;
}

#page3 {
  height: 100%;
  width: 100%;
  display: flex;
}

#page3left {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  /* background-color: crimson; */
}
#page3left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page3left h3 {
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 3.3vw;
  padding-top: 3.3vw;
  font-size: 1.5vw;
  font-weight: 500;
}

#page3right {
  height: 100%;
  width: 60%;
  padding: 4vw;
  padding-left: 0;
  /* background-color: skyblue; */
}

#page3right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#page4 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#centerdiv {
  height: 90%;
  width: 90%;
}

#centerdiv img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#centerdiv h1 {
  font-family: monument;
  text-align: center;
  margin-top: 5%;
  font-size: 3vw;
}

#page4-extended {
  height: 70%;
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}

.elem {
  height: 15vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: relative;
  text-transform: uppercase;
}

.elem h1 {
  font-size: 1.1vw;
}

.imgoutcontainer {
  width: 90%;
  height: 14vh;
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 0.3s ease;
}

.imgoutcontainer:hover {
  /* background-color: red; */
  opacity: 1;
  left: 2vw;
}

.imgcontainer {
  height: 14vh;
  width: 14vh;
  position: absolute;
  /* border: 2px solid black; */
  border-radius: 50%;
  left: 20%;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* .elem .imgcontainer:hover {
  opacity: 1;
  left: 25%;
} */

.elem .elem-text {
  width: 50%;
  text-align: left;

  /* background-color: red; */
  padding-right: 10%;
}

.elem-text h1 {
  font-size: 2vw;
}
.elem-text h4 {
  font-size: 0.7vw;
}

.imgcontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page4-extended .elem:nth-child(4) {
  border-bottom: 2px solid black;
}

#page5 {
  height: 80%;
  width: 100%;
  padding: 0 5%;
}

#page5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#page5-extended {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;
}

#marquee {
  height: 50%;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 1vw;
  position: absolute;
  animation: text-animation 5s linear infinite;
}

#marquee h1 {
  display: inline-block;
  /* background-color: red; */
  font-size: 2vw;
  font-family: monument;
  text-transform: uppercase;
}

@keyframes text-animation {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
